In [237]:
import numpy as np
import pandas as pd

In [238]:
df_batting = pd.read_csv('batsman_details_extract.csv')
df_bowling = pd.read_csv('bowler_details.csv')
df_team = pd.read_csv('every_match_details.csv')
list_of_cols = df_batting.columns.tolist()
list_of_cols = list_of_cols[1:]
df_batting = df_batting[list_of_cols]
list_of_cols = df_bowling.columns.tolist()
list_of_cols = list_of_cols[1:]
df_bowling = df_bowling[list_of_cols]
list_of_cols = df_team.columns.tolist()
list_of_cols = list_of_cols[1:]
df_team = df_team[list_of_cols]

C:\Users\Hitesh Mohite\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2717: DtypeWarning: Columns (4,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [239]:
df_team

,team,score,overs,rpo,inns,result,opposition,ground,date
0,England,444/3,50.0,8.88,1,won,v Pakistan,Nottingham,30 Aug 2016
1,Sri Lanka,443/9,50.0,8.86,1,won,v Netherlands,Amstelveen,4 Jul 2006
2,South Africa,439/2,50.0,8.78,1,won,v West Indies,Johannesburg,18 Jan 2015
3,South Africa,438/9,49.5,8.78,2,won,v Australia,Johannesburg,12 Mar 2006
4,South Africa,438/4,50.0,8.76,1,won,v India,Mumbai,25 Oct 2015
5,Australia,434/4,50.0,8.68,1,lost,v South Africa,Johannesburg,12 Mar 2006
6,South Africa,418/5,50.0,8.36,1,won,v Zimbabwe,Potchefstroom,20 Sep 2006
7,India,418/5,50.0,8.36,1,won,v West Indies,Indore,8 Dec 2011
8,Australia,417/6,50.0,8.34,1,won,v Afghanistan,Perth,4 Mar 2015
9,India,414/7,50.0,8.28,1,won,v Sri Lanka,Rajkot,15 Dec 2009
10,India,413/5,50.0,8.26,1,won,v Bermuda,Port of Spain,19 Mar 2007
11,Sri Lanka,411/8,50.0,8.22,2,lost,v India,Rajkot,15 Dec 2009
12,South Africa,411/4,50.0,8.22,1,won,v Ireland,Canberra,3 Mar 2015
13,South Africa,408/5,50.0,8.16,1,won,v West Indies,Sydney,27 Feb 2015
14,England,408/9,50.0,8.16,1,won,v New Zealand,Birmingham,9 Jun 2015
15,India,404/5,50.0,8.08,1,won,v Sri Lanka,Kolkata,13 Nov 2014
16,New Zealand,402/2,50.0,8.04,1,won,v Ireland,Aberdeen,1 Jul 2008
17,India,401/3,50.0,8.02,1,won,v South Africa,Gwalior,24 Feb 2010
18,South Africa,399/6,50.0,7.98,1,won,v Zimbabwe,Benoni,22 Oct 2010
19,England,399/9,50.0,7.98,1,won,v South Africa,Bloemfontein,3 Feb 2016
20,Sri Lanka,398/5,50.0,7.96,1,won,v Kenya,Kandy,6 Mar 1996
21,New Zealand,398/5,50.0,7.96,1,won,v England,The Oval,12 Jun 2015
22,New Zealand,397/5,44.0,9.02,1,won,v Zimbabwe,Bulawayo,24 Aug 2005
23,New Zealand,393/6,50.0,7.86,1,won,v West Indies,Wellington,21 Mar 2015
24,South Africa,392/6,50.0,7.84,1,won,v Pakistan,Centurion,4 Feb 2007
25,India,392/4,50.0,7.84,1,won,v New Zealand,Christchurch,8 Mar 2009
26,India,392/4,50.0,7.84,1,won,v Sri Lanka,Mohali,13 Dec 2017
27,England,391/4,50.0,7.82,1,won,v Bangladesh,Nottingham,21 Jun 2005
28,India,387/5,50.0,7.74,1,won,v England,Rajkot,14 Nov 2008
29,Pakistan,385/7,50.0,7.70,1,won,v Bangladesh,Dambulla,21 Jun 2010
...,...,...,...,...,...,...,...,...,...
7704,Australia,64/1,21.0,3.04,2,won,v India,Sydney,8 Jan 1981
7705,New Zealand,64,35.5,1.78,1,lost,v Pakistan,Sharjah,15 Apr 1986
7706,India,63,25.5,2.43,1,lost,v Australia,Sydney,8 Jan 1981
7707,Afghanistan,63,18.3,3.40,2,lost,v Scotland,Abu Dhabi,14 Jan 2015
7708,Bangladesh,62/2,20.0,3.10,2,won,v West Indies,Chittagong,18 Oct 2011
7709,West Indies,61,22.0,2.77,1,lost,v Bangladesh,Chittagong,18 Oct 2011
7710,West Indies,59/1,12.2,4.78,2,won,v Bangladesh,Dhaka,4 Mar 2011
7711,Bangladesh,58,18.5,3.07,1,lost,v West Indies,Dhaka,4 Mar 2011
7712,Bangladesh,58,17.4,3.28,2,lost,v India,Dhaka,17 Jun 2014
7713,Afghanistan,58,16.1,3.58,2,lost,v Zimbabwe,Sharjah,2 Jan 2016
7714,West Indies,55/4,17.0,3.23,2,won,v New Zealand,Port of Spain,27 Mar 1985
7715,Sri Lanka,55,28.3,1.92,2,lost,v West Indies,Sharjah,3 Dec 1986
7716,India,54,26.3,2.03,2,lost,v Sri Lanka,Sharjah,29 Oct 2000
7717,West Indies,54,23.2,2.31,2,lost,v South Africa,Cape Town,25 Jan 2004
7718,Zimbabwe,54,13.5,3.90,2,lost,v Afghanistan,Harare,26 Feb 2017
7719,New Zealand,51/3,22.0,2.31,1,lost,v West Indies,Port of Spain,27 Mar 1985
7720,Bangladesh,49/4,11.5,4.14,2,won,v Zimbabwe,Chittagong,3 Nov 2009
7721,England,46/2,13.5,3.32,2,won,v Canada,Manchester,13 Jun 1979
7722,Canada,45,40.3,1.11,1,lost,v England,Manchester,13 Jun 1979
7723,West Indies,45/3,12.3,3.60,2,won,v Pakistan,Cape Town,25 Feb 1993
7724,Namibia,45,14.0,3.21,2,lost,v Australia,Potchefstroom,27 Feb 2003
7725,Zimbabwe,44,24.5,1.77,1,lost,v Bangladesh,Chittagong,3 Nov 2009
7726,Pakistan,43,19.5,2.16,1,lost,v West Indies,Cape Town,25 Feb 1993
7727,Sri Lanka,43,20.1,2.13,2,lost,v South Africa,Paarl,11 Jan 2012
7728,Sri Lanka,40/1,4.2,9.23,2,won,v Zimbabwe,Colombo (SSC),8 Dec 2001
7729,Sri Lanka,40/1,9.2,4.28,2,won,v Zimbabwe,Harare,25 Apr 2004
7730,Zimbabwe,38,15.4,2.42,1,lost,v Sri Lanka,Colombo (SSC),8 Dec 2001
7731,Sri Lanka,37/1,4.4,7.92,2,won,v Canada,Paarl,19 Feb 2003
7732,Canada,36,18.4,1.92,1,lost,v Sri Lanka,Paarl,19 Feb 2003
7733,Zimbabwe,35,18.0,1.94,1,lost,v Sri Lanka,Harare,25 Apr 2004

In [240]:
len(df_team)

7734

In [241]:
total_score = df_team['score']
total_score = total_score.str.split('/').tolist()
df=pd.DataFrame(total_score)
df.columns=['score', 'wickets']
df_team['score'] = df['score']
df_team.insert(2, 'wickets', df['wickets'], allow_duplicates=True)

In [242]:
temp = df_team['opposition']
temp = temp.str
df_team['opposition'] = temp[2:]
df_team

,team,score,wickets,overs,rpo,inns,result,opposition,ground,date
0,England,444,3,50.0,8.88,1,won,Pakistan,Nottingham,30 Aug 2016
1,Sri Lanka,443,9,50.0,8.86,1,won,Netherlands,Amstelveen,4 Jul 2006
2,South Africa,439,2,50.0,8.78,1,won,West Indies,Johannesburg,18 Jan 2015
3,South Africa,438,9,49.5,8.78,2,won,Australia,Johannesburg,12 Mar 2006
4,South Africa,438,4,50.0,8.76,1,won,India,Mumbai,25 Oct 2015
5,Australia,434,4,50.0,8.68,1,lost,South Africa,Johannesburg,12 Mar 2006
6,South Africa,418,5,50.0,8.36,1,won,Zimbabwe,Potchefstroom,20 Sep 2006
7,India,418,5,50.0,8.36,1,won,West Indies,Indore,8 Dec 2011
8,Australia,417,6,50.0,8.34,1,won,Afghanistan,Perth,4 Mar 2015
9,India,414,7,50.0,8.28,1,won,Sri Lanka,Rajkot,15 Dec 2009
10,India,413,5,50.0,8.26,1,won,Bermuda,Port of Spain,19 Mar 2007
11,Sri Lanka,411,8,50.0,8.22,2,lost,India,Rajkot,15 Dec 2009
12,South Africa,411,4,50.0,8.22,1,won,Ireland,Canberra,3 Mar 2015
13,South Africa,408,5,50.0,8.16,1,won,West Indies,Sydney,27 Feb 2015
14,England,408,9,50.0,8.16,1,won,New Zealand,Birmingham,9 Jun 2015
15,India,404,5,50.0,8.08,1,won,Sri Lanka,Kolkata,13 Nov 2014
16,New Zealand,402,2,50.0,8.04,1,won,Ireland,Aberdeen,1 Jul 2008
17,India,401,3,50.0,8.02,1,won,South Africa,Gwalior,24 Feb 2010
18,South Africa,399,6,50.0,7.98,1,won,Zimbabwe,Benoni,22 Oct 2010
19,England,399,9,50.0,7.98,1,won,South Africa,Bloemfontein,3 Feb 2016
20,Sri Lanka,398,5,50.0,7.96,1,won,Kenya,Kandy,6 Mar 1996
21,New Zealand,398,5,50.0,7.96,1,won,England,The Oval,12 Jun 2015
22,New Zealand,397,5,44.0,9.02,1,won,Zimbabwe,Bulawayo,24 Aug 2005
23,New Zealand,393,6,50.0,7.86,1,won,West Indies,Wellington,21 Mar 2015
24,South Africa,392,6,50.0,7.84,1,won,Pakistan,Centurion,4 Feb 2007
25,India,392,4,50.0,7.84,1,won,New Zealand,Christchurch,8 Mar 2009
26,India,392,4,50.0,7.84,1,won,Sri Lanka,Mohali,13 Dec 2017
27,England,391,4,50.0,7.82,1,won,Bangladesh,Nottingham,21 Jun 2005
28,India,387,5,50.0,7.74,1,won,England,Rajkot,14 Nov 2008
29,Pakistan,385,7,50.0,7.70,1,won,Bangladesh,Dambulla,21 Jun 2010
...,...,...,...,...,...,...,...,...,...,...
7704,Australia,64,1,21.0,3.04,2,won,India,Sydney,8 Jan 1981
7705,New Zealand,64,None,35.5,1.78,1,lost,Pakistan,Sharjah,15 Apr 1986
7706,India,63,None,25.5,2.43,1,lost,Australia,Sydney,8 Jan 1981
7707,Afghanistan,63,None,18.3,3.40,2,lost,Scotland,Abu Dhabi,14 Jan 2015
7708,Bangladesh,62,2,20.0,3.10,2,won,West Indies,Chittagong,18 Oct 2011
7709,West Indies,61,None,22.0,2.77,1,lost,Bangladesh,Chittagong,18 Oct 2011
7710,West Indies,59,1,12.2,4.78,2,won,Bangladesh,Dhaka,4 Mar 2011
7711,Bangladesh,58,None,18.5,3.07,1,lost,West Indies,Dhaka,4 Mar 2011
7712,Bangladesh,58,None,17.4,3.28,2,lost,India,Dhaka,17 Jun 2014
7713,Afghanistan,58,None,16.1,3.58,2,lost,Zimbabwe,Sharjah,2 Jan 2016
7714,West Indies,55,4,17.0,3.23,2,won,New Zealand,Port of Spain,27 Mar 1985
7715,Sri Lanka,55,None,28.3,1.92,2,lost,West Indies,Sharjah,3 Dec 1986
7716,India,54,None,26.3,2.03,2,lost,Sri Lanka,Sharjah,29 Oct 2000
7717,West Indies,54,None,23.2,2.31,2,lost,South Africa,Cape Town,25 Jan 2004
7718,Zimbabwe,54,None,13.5,3.90,2,lost,Afghanistan,Harare,26 Feb 2017
7719,New Zealand,51,3,22.0,2.31,1,lost,West Indies,Port of Spain,27 Mar 1985
7720,Bangladesh,49,4,11.5,4.14,2,won,Zimbabwe,Chittagong,3 Nov 2009
7721,England,46,2,13.5,3.32,2,won,Canada,Manchester,13 Jun 1979
7722,Canada,45,None,40.3,1.11,1,lost,England,Manchester,13 Jun 1979
7723,West Indies,45,3,12.3,3.60,2,won,Pakistan,Cape Town,25 Feb 1993
7724,Namibia,45,None,14.0,3.21,2,lost,Australia,Potchefstroom,27 Feb 2003
7725,Zimbabwe,44,None,24.5,1.77,1,lost,Bangladesh,Chittagong,3 Nov 2009
7726,Pakistan,43,None,19.5,2.16,1,lost,West Indies,Cape Town,25 Feb 1993
7727,Sri Lanka,43,None,20.1,2.13,2,lost,South Africa,Paarl,11 Jan 2012
7728,Sri Lanka,40,1,4.2,9.23,2,won,Zimbabwe,Colombo (SSC),8 Dec 2001
7729,Sri Lanka,40,1,9.2,4.28,2,won,Zimbabwe,Harare,25 Apr 2004
7730,Zimbabwe,38,None,15.4,2.42,1,lost,Sri Lanka,Colombo (SSC),8 Dec 2001
7731,Sri Lanka,37,1,4.4,7.92,2,won,Canada,Paarl,19 Feb 2003
7732,Canada,36,None,18.4,1.92,1,lost,Sri Lanka,Paarl,19 Feb 2003
7733,Zimbabwe,35,None,18.0,1.94,1,lost,Sri Lanka,Harare,25 Apr 2004

In [243]:
df_team['wickets'][df_team['wickets'].isnull()] = 10
#df_team[df_team['wickets'] == None] = 10
df_team

C:\Users\Hitesh Mohite\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,team,score,wickets,overs,rpo,inns,result,opposition,ground,date
0,England,444,3,50.0,8.88,1,won,Pakistan,Nottingham,30 Aug 2016
1,Sri Lanka,443,9,50.0,8.86,1,won,Netherlands,Amstelveen,4 Jul 2006
2,South Africa,439,2,50.0,8.78,1,won,West Indies,Johannesburg,18 Jan 2015
3,South Africa,438,9,49.5,8.78,2,won,Australia,Johannesburg,12 Mar 2006
4,South Africa,438,4,50.0,8.76,1,won,India,Mumbai,25 Oct 2015
5,Australia,434,4,50.0,8.68,1,lost,South Africa,Johannesburg,12 Mar 2006
6,South Africa,418,5,50.0,8.36,1,won,Zimbabwe,Potchefstroom,20 Sep 2006
7,India,418,5,50.0,8.36,1,won,West Indies,Indore,8 Dec 2011
8,Australia,417,6,50.0,8.34,1,won,Afghanistan,Perth,4 Mar 2015
9,India,414,7,50.0,8.28,1,won,Sri Lanka,Rajkot,15 Dec 2009
10,India,413,5,50.0,8.26,1,won,Bermuda,Port of Spain,19 Mar 2007
11,Sri Lanka,411,8,50.0,8.22,2,lost,India,Rajkot,15 Dec 2009
12,South Africa,411,4,50.0,8.22,1,won,Ireland,Canberra,3 Mar 2015
13,South Africa,408,5,50.0,8.16,1,won,West Indies,Sydney,27 Feb 2015
14,England,408,9,50.0,8.16,1,won,New Zealand,Birmingham,9 Jun 2015
15,India,404,5,50.0,8.08,1,won,Sri Lanka,Kolkata,13 Nov 2014
16,New Zealand,402,2,50.0,8.04,1,won,Ireland,Aberdeen,1 Jul 2008
17,India,401,3,50.0,8.02,1,won,South Africa,Gwalior,24 Feb 2010
18,South Africa,399,6,50.0,7.98,1,won,Zimbabwe,Benoni,22 Oct 2010
19,England,399,9,50.0,7.98,1,won,South Africa,Bloemfontein,3 Feb 2016
20,Sri Lanka,398,5,50.0,7.96,1,won,Kenya,Kandy,6 Mar 1996
21,New Zealand,398,5,50.0,7.96,1,won,England,The Oval,12 Jun 2015
22,New Zealand,397,5,44.0,9.02,1,won,Zimbabwe,Bulawayo,24 Aug 2005
23,New Zealand,393,6,50.0,7.86,1,won,West Indies,Wellington,21 Mar 2015
24,South Africa,392,6,50.0,7.84,1,won,Pakistan,Centurion,4 Feb 2007
25,India,392,4,50.0,7.84,1,won,New Zealand,Christchurch,8 Mar 2009
26,India,392,4,50.0,7.84,1,won,Sri Lanka,Mohali,13 Dec 2017
27,England,391,4,50.0,7.82,1,won,Bangladesh,Nottingham,21 Jun 2005
28,India,387,5,50.0,7.74,1,won,England,Rajkot,14 Nov 2008
29,Pakistan,385,7,50.0,7.70,1,won,Bangladesh,Dambulla,21 Jun 2010
...,...,...,...,...,...,...,...,...,...,...
7704,Australia,64,1,21.0,3.04,2,won,India,Sydney,8 Jan 1981
7705,New Zealand,64,10,35.5,1.78,1,lost,Pakistan,Sharjah,15 Apr 1986
7706,India,63,10,25.5,2.43,1,lost,Australia,Sydney,8 Jan 1981
7707,Afghanistan,63,10,18.3,3.40,2,lost,Scotland,Abu Dhabi,14 Jan 2015
7708,Bangladesh,62,2,20.0,3.10,2,won,West Indies,Chittagong,18 Oct 2011
7709,West Indies,61,10,22.0,2.77,1,lost,Bangladesh,Chittagong,18 Oct 2011
7710,West Indies,59,1,12.2,4.78,2,won,Bangladesh,Dhaka,4 Mar 2011
7711,Bangladesh,58,10,18.5,3.07,1,lost,West Indies,Dhaka,4 Mar 2011
7712,Bangladesh,58,10,17.4,3.28,2,lost,India,Dhaka,17 Jun 2014
7713,Afghanistan,58,10,16.1,3.58,2,lost,Zimbabwe,Sharjah,2 Jan 2016
7714,West Indies,55,4,17.0,3.23,2,won,New Zealand,Port of Spain,27 Mar 1985
7715,Sri Lanka,55,10,28.3,1.92,2,lost,West Indies,Sharjah,3 Dec 1986
7716,India,54,10,26.3,2.03,2,lost,Sri Lanka,Sharjah,29 Oct 2000
7717,West Indies,54,10,23.2,2.31,2,lost,South Africa,Cape Town,25 Jan 2004
7718,Zimbabwe,54,10,13.5,3.90,2,lost,Afghanistan,Harare,26 Feb 2017
7719,New Zealand,51,3,22.0,2.31,1,lost,West Indies,Port of Spain,27 Mar 1985
7720,Bangladesh,49,4,11.5,4.14,2,won,Zimbabwe,Chittagong,3 Nov 2009
7721,England,46,2,13.5,3.32,2,won,Canada,Manchester,13 Jun 1979
7722,Canada,45,10,40.3,1.11,1,lost,England,Manchester,13 Jun 1979
7723,West Indies,45,3,12.3,3.60,2,won,Pakistan,Cape Town,25 Feb 1993
7724,Namibia,45,10,14.0,3.21,2,lost,Australia,Potchefstroom,27 Feb 2003
7725,Zimbabwe,44,10,24.5,1.77,1,lost,Bangladesh,Chittagong,3 Nov 2009
7726,Pakistan,43,10,19.5,2.16,1,lost,West Indies,Cape Town,25 Feb 1993
7727,Sri Lanka,43,10,20.1,2.13,2,lost,South Africa,Paarl,11 Jan 2012
7728,Sri Lanka,40,1,4.2,9.23,2,won,Zimbabwe,Colombo (SSC),8 Dec 2001
7729,Sri Lanka,40,1,9.2,4.28,2,won,Zimbabwe,Harare,25 Apr 2004
7730,Zimbabwe,38,10,15.4,2.42,1,lost,Sri Lanka,Colombo (SSC),8 Dec 2001
7731,Sri Lanka,37,1,4.4,7.92,2,won,Canada,Paarl,19 Feb 2003
7732,Canada,36,10,18.4,1.92,1,lost,Sri Lanka,Paarl,19 Feb 2003
7733,Zimbabwe,35,10,18.0,1.94,1,lost,Sri Lanka,Harare,25 Apr 2004

In [244]:
df_team

,team,score,wickets,overs,rpo,inns,result,opposition,ground,date
0,England,444,3,50.0,8.88,1,won,Pakistan,Nottingham,30 Aug 2016
1,Sri Lanka,443,9,50.0,8.86,1,won,Netherlands,Amstelveen,4 Jul 2006
2,South Africa,439,2,50.0,8.78,1,won,West Indies,Johannesburg,18 Jan 2015
3,South Africa,438,9,49.5,8.78,2,won,Australia,Johannesburg,12 Mar 2006
4,South Africa,438,4,50.0,8.76,1,won,India,Mumbai,25 Oct 2015
5,Australia,434,4,50.0,8.68,1,lost,South Africa,Johannesburg,12 Mar 2006
6,South Africa,418,5,50.0,8.36,1,won,Zimbabwe,Potchefstroom,20 Sep 2006
7,India,418,5,50.0,8.36,1,won,West Indies,Indore,8 Dec 2011
8,Australia,417,6,50.0,8.34,1,won,Afghanistan,Perth,4 Mar 2015
9,India,414,7,50.0,8.28,1,won,Sri Lanka,Rajkot,15 Dec 2009
10,India,413,5,50.0,8.26,1,won,Bermuda,Port of Spain,19 Mar 2007
11,Sri Lanka,411,8,50.0,8.22,2,lost,India,Rajkot,15 Dec 2009
12,South Africa,411,4,50.0,8.22,1,won,Ireland,Canberra,3 Mar 2015
13,South Africa,408,5,50.0,8.16,1,won,West Indies,Sydney,27 Feb 2015
14,England,408,9,50.0,8.16,1,won,New Zealand,Birmingham,9 Jun 2015
15,India,404,5,50.0,8.08,1,won,Sri Lanka,Kolkata,13 Nov 2014
16,New Zealand,402,2,50.0,8.04,1,won,Ireland,Aberdeen,1 Jul 2008
17,India,401,3,50.0,8.02,1,won,South Africa,Gwalior,24 Feb 2010
18,South Africa,399,6,50.0,7.98,1,won,Zimbabwe,Benoni,22 Oct 2010
19,England,399,9,50.0,7.98,1,won,South Africa,Bloemfontein,3 Feb 2016
20,Sri Lanka,398,5,50.0,7.96,1,won,Kenya,Kandy,6 Mar 1996
21,New Zealand,398,5,50.0,7.96,1,won,England,The Oval,12 Jun 2015
22,New Zealand,397,5,44.0,9.02,1,won,Zimbabwe,Bulawayo,24 Aug 2005
23,New Zealand,393,6,50.0,7.86,1,won,West Indies,Wellington,21 Mar 2015
24,South Africa,392,6,50.0,7.84,1,won,Pakistan,Centurion,4 Feb 2007
25,India,392,4,50.0,7.84,1,won,New Zealand,Christchurch,8 Mar 2009
26,India,392,4,50.0,7.84,1,won,Sri Lanka,Mohali,13 Dec 2017
27,England,391,4,50.0,7.82,1,won,Bangladesh,Nottingham,21 Jun 2005
28,India,387,5,50.0,7.74,1,won,England,Rajkot,14 Nov 2008
29,Pakistan,385,7,50.0,7.70,1,won,Bangladesh,Dambulla,21 Jun 2010
...,...,...,...,...,...,...,...,...,...,...
7704,Australia,64,1,21.0,3.04,2,won,India,Sydney,8 Jan 1981
7705,New Zealand,64,10,35.5,1.78,1,lost,Pakistan,Sharjah,15 Apr 1986
7706,India,63,10,25.5,2.43,1,lost,Australia,Sydney,8 Jan 1981
7707,Afghanistan,63,10,18.3,3.40,2,lost,Scotland,Abu Dhabi,14 Jan 2015
7708,Bangladesh,62,2,20.0,3.10,2,won,West Indies,Chittagong,18 Oct 2011
7709,West Indies,61,10,22.0,2.77,1,lost,Bangladesh,Chittagong,18 Oct 2011
7710,West Indies,59,1,12.2,4.78,2,won,Bangladesh,Dhaka,4 Mar 2011
7711,Bangladesh,58,10,18.5,3.07,1,lost,West Indies,Dhaka,4 Mar 2011
7712,Bangladesh,58,10,17.4,3.28,2,lost,India,Dhaka,17 Jun 2014
7713,Afghanistan,58,10,16.1,3.58,2,lost,Zimbabwe,Sharjah,2 Jan 2016
7714,West Indies,55,4,17.0,3.23,2,won,New Zealand,Port of Spain,27 Mar 1985
7715,Sri Lanka,55,10,28.3,1.92,2,lost,West Indies,Sharjah,3 Dec 1986
7716,India,54,10,26.3,2.03,2,lost,Sri Lanka,Sharjah,29 Oct 2000
7717,West Indies,54,10,23.2,2.31,2,lost,South Africa,Cape Town,25 Jan 2004
7718,Zimbabwe,54,10,13.5,3.90,2,lost,Afghanistan,Harare,26 Feb 2017
7719,New Zealand,51,3,22.0,2.31,1,lost,West Indies,Port of Spain,27 Mar 1985
7720,Bangladesh,49,4,11.5,4.14,2,won,Zimbabwe,Chittagong,3 Nov 2009
7721,England,46,2,13.5,3.32,2,won,Canada,Manchester,13 Jun 1979
7722,Canada,45,10,40.3,1.11,1,lost,England,Manchester,13 Jun 1979
7723,West Indies,45,3,12.3,3.60,2,won,Pakistan,Cape Town,25 Feb 1993
7724,Namibia,45,10,14.0,3.21,2,lost,Australia,Potchefstroom,27 Feb 2003
7725,Zimbabwe,44,10,24.5,1.77,1,lost,Bangladesh,Chittagong,3 Nov 2009
7726,Pakistan,43,10,19.5,2.16,1,lost,West Indies,Cape Town,25 Feb 1993
7727,Sri Lanka,43,10,20.1,2.13,2,lost,South Africa,Paarl,11 Jan 2012
7728,Sri Lanka,40,1,4.2,9.23,2,won,Zimbabwe,Colombo (SSC),8 Dec 2001
7729,Sri Lanka,40,1,9.2,4.28,2,won,Zimbabwe,Harare,25 Apr 2004
7730,Zimbabwe,38,10,15.4,2.42,1,lost,Sri Lanka,Colombo (SSC),8 Dec 2001
7731,Sri Lanka,37,1,4.4,7.92,2,won,Canada,Paarl,19 Feb 2003
7732,Canada,36,10,18.4,1.92,1,lost,Sri Lanka,Paarl,19 Feb 2003
7733,Zimbabwe,35,10,18.0,1.94,1,lost,Sri Lanka,Harare,25 Apr 2004

In [245]:
df_batting

,batsman,runs,mins,bf,4s,6s,SR,inns,opposition,venue,Date
0,RG Sharma (INDIA),264,225,173,33,9,152.6,1,v Sri Lanka,Kolkata,13-Nov-14
1,MJ Guptill (NZ),237*,223,163,24,11,145.39,1,v West Indies,Wellington,21-Mar-15
2,V Sehwag (INDIA),219,208,149,25,7,146.97,1,v West Indies,Indore,08-Dec-11
3,CH Gayle (WI),215,212,147,10,16,146.25,1,v Zimbabwe,Canberra,24-Feb-15
4,RG Sharma (INDIA),209,222,158,12,16,132.27,1,v Australia,Bengaluru,02-Nov-13
5,RG Sharma (INDIA),208*,212,153,13,12,135.94,1,v Sri Lanka,Mohali,13-Dec-17
6,SR Tendulkar (INDIA),200*,226,147,25,3,136.05,1,v South Africa,Gwalior,24-Feb-10
7,CK Coventry (ZIM),194*,191,156,16,7,124.35,1,v Bangladesh,Bulawayo,16-Aug-09
8,Saeed Anwar (PAK),194,206,146,22,5,132.87,1,v India,Chennai,21-May-97
9,IVA Richards (WI),189*,-,170,21,5,111.17,1,v England,Manchester,31-May-84
10,MJ Guptill (NZ),189*,216,155,19,2,121.93,1,v England,Southampton,02-Jun-13
11,ST Jayasuriya (SL),189,-,161,21,4,117.39,1,v India,Sharjah,29-Oct-00
12,G Kirsten (SA),188*,210,159,13,4,118.23,1,v U.A.E.,Rawalpindi,16-Feb-96
13,SR Tendulkar (INDIA),186*,221,150,20,3,124,1,v New Zealand,Hyderabad (Deccan),08-Nov-99
14,SR Watson (AUS),185*,113,96,15,15,192.7,2,v Bangladesh,Dhaka,11-Apr-11
15,F du Plessis (SA),185,212,141,16,3,131.2,1,v Sri Lanka,Cape Town,07-Feb-17
16,MS Dhoni (INDIA),183*,210,145,15,10,126.2,2,v Sri Lanka,Jaipur,31-Oct-05
17,SC Ganguly (INDIA),183,210,158,17,7,115.82,1,v Sri Lanka,Taunton,26-May-99
18,V Kohli (INDIA),183,211,148,22,1,123.64,2,v Pakistan,Dhaka,18-Mar-12
19,ML Hayden (AUS),181*,227,166,11,10,109.03,1,v New Zealand,Hamilton,20-Feb-07
20,LRPL Taylor (NZ),181*,213,147,17,6,123.12,2,v England,Dunedin,07-Mar-18
21,IVA Richards (WI),181,-,125,16,7,144.8,1,v Sri Lanka,Karachi,13-Oct-87
22,MJ Guptill (NZ),180*,198,138,15,11,130.43,2,v South Africa,Hamilton,01-Mar-17
23,JJ Roy (ENG),180,151,151,16,5,119.2,2,v Australia,Melbourne,14-Jan-18
24,DA Warner (AUS),179,186,128,19,5,139.84,1,v Pakistan,Adelaide,26-Jan-17
25,H Masakadza (ZIM),178*,201,167,17,4,106.58,1,v Kenya,Harare,18-Oct-09
26,DA Warner (AUS),178,164,133,19,5,133.83,1,v Afghanistan,Perth,04-Mar-15
27,Q de Kock (SA),178,142,113,16,11,157.52,2,v Australia,Centurion,30-Sep-16
28,PR Stirling (IRE),177,177,134,21,5,132.08,1,v Canada,Toronto,07-Sep-10
29,E Lewis (WI),176*,-,130,17,7,135.38,1,v England,The Oval,27-Sep-17
...,...,...,...,...,...,...,...,...,...,...,...
88266,CB Sole (SCOT),DNB,-,-,-,-,-,1,v U.A.E.,Bulawayo,15-Mar-18
88267,BTJ Wheal (SCOT),DNB,-,-,-,-,-,1,v U.A.E.,Bulawayo,15-Mar-18
88268,TJ Murtagh (IRE),DNB,-,-,-,-,-,1,v Scotland,Harare,18-Mar-18
88269,KAJ Roach (WI),DNB,-,-,-,-,-,2,v Zimbabwe,Harare,19-Mar-18
88270,D Bishoo (WI),DNB,-,-,-,-,-,2,v Zimbabwe,Harare,19-Mar-18
88271,KMA Paul (WI),DNB,-,-,-,-,-,2,v Zimbabwe,Harare,19-Mar-18
88272,Dawlat Zadran (AFG),DNB,-,-,-,-,-,2,v U.A.E.,Harare,20-Mar-18
88273,Sharafuddin Ashraf (AFG),DNB,-,-,-,-,-,2,v U.A.E.,Harare,20-Mar-18
88274,Rashid Khan (AFG),DNB,-,-,-,-,-,2,v U.A.E.,Harare,20-Mar-18
88275,Mujeeb Ur Rahman (AFG),DNB,-,-,-,-,-,2,v U.A.E.,Harare,20-Mar-18
88276,AC Evans (SCOT),DNB,-,-,-,-,-,2,v West Indies,Harare,21-Mar-18
88277,SM Sharif (SCOT),DNB,-,-,-,-,-,2,v West Indies,Harare,21-Mar-18
88278,TB Sole (SCOT),DNB,-,-,-,-,-,2,v West Indies,Harare,21-Mar-18
88279,BTJ Wheal (SCOT),DNB,-,-,-,-,-,2,v West Indies,Harare,21-Mar-18
88280,Qadeer Ahmed (UAE),DNB,-,-,-,-,-,1,v Zimbabwe,Harare,22-Mar-18
88281,Amir Hayat (UAE),DNB,-,-,-,-,-,1,v Zimbabwe,Harare,22-Mar-18
88282,TL Chatara (ZIM),DNB,-,-,-,-,-,2,v U.A.E.,Harare,22-Mar-18
88283,B Muzarabani (ZIM),DNB,-,-,-,-,-,2,v U.A.E.,Harare,22-Mar-18
88284,TJ Murtagh (IRE),DNB,-,-,-,-,-,1,v Afghanistan,Harare,23-Mar-18
88285,WB Rankin (IRE),DNB,-,-,-,-,-,1,v Afghanistan,Harare,23-Mar-18
88286,Dawlat Zadran (AFG),DNB,-,-,-,-,-,2,v Ireland,Harare,23-Mar-18
88287,Sharafuddin Ashraf (AFG),DNB,-,-,-,-,-,2,v Ireland,Harare,23-Mar-18
88288,Rashid Khan (AFG),DNB,-,-,-,-,-,2,v Ireland,Harare,23-Mar-18
88289,Mujeeb Ur Rahman (AFG),DNB,-,-,-,-,-,2,v Ireland,Harare,23-Mar-18
88290,Asghar Stanikzai (AFG),DNB,-,-,-,-,-,2,v West Indies,Harare,25-Mar-18
88291,Dawlat Zadran (AFG),DNB,-,-,-,-,-,2,v West Indies,Harare,25-Mar-18
88292,Najibullah Zadran (AFG),DNB,-,-,-,-,-,2,v West Indies,Harare,25-Mar-18
88293,Sharafuddin Ashraf (AFG),DNB,-,-,-,-,-,2,v West Indies,Harare,25-Mar-18
88294,Rashid Khan (AFG),DNB,-,-,-,-,-,2,v West Indies,Harare,25-Mar-18
88295,Mujeeb Ur Rahman (AFG),DNB,-,-,-,-,-,2,v West Indies,Harare,25-Mar-18

In [246]:
df_bowling

,bowler,overs,bpo,maidens,runs,wkts,econ,inns,opposition,ground,date
0,WPUJC Vaas (SL),8.0,6,3,19,8,2.37,1,v Zimbabwe,Colombo (SSC),8 Dec 2001
1,Shahid Afridi (PAK),9.0,6,3,12,7,1.33,2,v West Indies,Providence,14 Jul 2013
2,GD McGrath (AUS),7.0,6,4,15,7,2.14,2,v Namibia,Potchefstroom,27 Feb 2003
3,Rashid Khan (AFG),8.4,6,1,18,7,2.07,2,v West Indies,Gros Islet,9 Jun 2017
4,AJ Bichel (AUS),10.0,6,0,20,7,2.00,1,v England,Port Elizabeth,2 Mar 2003
5,M Muralitharan (SL),10.0,6,1,30,7,3.00,2,v India,Sharjah,27 Oct 2000
6,TG Southee (NZ),9.0,6,0,33,7,3.66,1,v England,Wellington,20 Feb 2015
7,TA Boult (NZ),10.0,6,3,34,7,3.40,2,v West Indies,Christchurch,23 Dec 2017
8,Waqar Younis (PAK),10.0,6,0,36,7,3.60,1,v England,Leeds,17 Jun 2001
9,Aaqib Javed (PAK),10.0,6,1,37,7,3.70,2,v India,Sharjah,25 Oct 1991
10,Imran Tahir (SA),9.0,6,0,45,7,5.00,2,v West Indies,Basseterre,15 Jun 2016
11,WW Davis (WI),10.3,6,0,51,7,4.85,2,v Australia,Leeds,11 Jun 1983
12,STR Binny (INDIA),4.4,6,2,4,6,0.85,2,v Bangladesh,Dhaka,17 Jun 2014
13,A Kumble (INDIA),6.1,6,2,12,6,1.94,2,v West Indies,Kolkata,27 Nov 1993
14,BAW Mendis (SL),8.0,6,1,13,6,1.62,2,v India,Karachi,6 Jul 2008
15,GJ Gilmour (AUS),12.0,6,6,14,6,1.16,1,v England,Leeds,18 Jun 1975
16,Imran Khan (PAK),10.0,6,2,14,6,1.40,1,v India,Sharjah,22 Mar 1985
17,MF Maharoof (SL),9.0,6,2,14,6,1.55,1,v West Indies,Mumbai (BS),14 Oct 2006
18,CEH Croft (WI),9.0,6,4,15,6,1.66,2,v England,Kingstown,4 Feb 1981
19,Shoaib Akhtar (PAK),9.0,6,1,16,6,1.77,2,v New Zealand,Karachi,21 Apr 2002
20,K Rabada (SA),8.0,6,3,16,6,2.00,1,v Bangladesh,Dhaka,10 Jul 2015
21,Azhar Mahmood (PAK),10.0,6,2,18,6,1.80,2,v West Indies,Sharjah,19 Oct 1999
22,HK Olonga (ZIM),8.2,6,3,19,6,2.28,2,v England,Cape Town,28 Jan 2000
23,SE Bond (NZ),9.0,6,3,19,6,2.11,2,v India,Bulawayo,26 Aug 2005
24,BC Strang (ZIM),10.0,6,2,20,6,2.00,2,v Bangladesh,Nairobi (Aga),14 Oct 1997
25,AD Mathews (SL),6.0,6,0,20,6,3.33,2,v India,Colombo (RPS),12 Sep 2009
26,FH Edwards (WI),7.0,6,1,22,6,3.14,2,v Zimbabwe,Harare,29 Nov 2003
27,M Ntini (SA),9.3,6,4,22,6,2.31,2,v Australia,Cape Town,3 Mar 2006
28,AA Donald (SA),9.0,6,0,23,6,2.55,2,v Kenya,Nairobi (Gym),3 Oct 1996
29,A Nehra (INDIA),10.0,6,2,23,6,2.30,2,v England,Durban,26 Feb 2003
...,...,...,...,...,...,...,...,...,...,...,...
88266,PJ Moor (ZIM),DNB,6,-,-,-,-,1,v U.A.E.,Harare,22 Mar 2018
88267,BRM Taylor (ZIM),DNB,6,-,-,-,-,1,v U.A.E.,Harare,22 Mar 2018
88268,SF Mire (ZIM),DNB,6,-,-,-,-,1,v U.A.E.,Harare,22 Mar 2018
88269,Adnan Mufti (UAE),DNB,6,-,-,-,-,2,v Zimbabwe,Harare,22 Mar 2018
88270,Ghulam Shabber (UAE),DNB,6,-,-,-,-,2,v Zimbabwe,Harare,22 Mar 2018
88271,Shaiman Anwar (UAE),DNB,6,-,-,-,-,2,v Zimbabwe,Harare,22 Mar 2018
88272,Muhammad Usman (UAE),DNB,6,-,-,-,-,2,v Zimbabwe,Harare,22 Mar 2018
88273,Rameez Shahzad (UAE),DNB,6,-,-,-,-,2,v Zimbabwe,Harare,22 Mar 2018
88274,Ashfaq Ahmed (UAE),DNB,6,-,-,-,-,2,v Zimbabwe,Harare,22 Mar 2018
88275,Samiullah Shenwari (AFG),DNB,6,-,-,-,-,1,v Ireland,Harare,23 Mar 2018
88276,Asghar Stanikzai (AFG),DNB,6,-,-,-,-,1,v Ireland,Harare,23 Mar 2018
88277,Najibullah Zadran (AFG),DNB,6,-,-,-,-,1,v Ireland,Harare,23 Mar 2018
88278,Rahmat Shah (AFG),DNB,6,-,-,-,-,1,v Ireland,Harare,23 Mar 2018
88279,Mohammad Shahzad (AFG),DNB,6,-,-,-,-,1,v Ireland,Harare,23 Mar 2018
88280,GC Wilson (IRE),DNB,6,-,-,-,-,2,v Afghanistan,Harare,23 Mar 2018
88281,NJ O'Brien (IRE),DNB,6,-,-,-,-,2,v Afghanistan,Harare,23 Mar 2018
88282,WTS Porterfield (IRE),DNB,6,-,-,-,-,2,v Afghanistan,Harare,23 Mar 2018
88283,A Balbirnie (IRE),DNB,6,-,-,-,-,2,v Afghanistan,Harare,23 Mar 2018
88284,KJ O'Brien (IRE),DNB,6,-,-,-,-,2,v Afghanistan,Harare,23 Mar 2018
88285,PR Stirling (IRE),DNB,6,-,-,-,-,2,v Afghanistan,Harare,23 Mar 2018
88286,Rahmat Shah (AFG),DNB,6,-,-,-,-,1,v West Indies,Harare,25 Mar 2018
88287,Mohammad Shahzad (AFG),DNB,6,-,-,-,-,1,v West Indies,Harare,25 Mar 2018
88288,Samiullah Shenwari (AFG),DNB,6,-,-,-,-,1,v West Indies,Harare,25 Mar 2018
88289,Najibullah Zadran (AFG),DNB,6,-,-,-,-,1,v West Indies,Harare,25 Mar 2018
88290,Asghar Stanikzai (AFG),DNB,6,-,-,-,-,1,v West Indies,Harare,25 Mar 2018
88291,R Powell (WI),DNB,6,-,-,-,-,2,v Afghanistan,Harare,25 Mar 2018
88292,SD Hope (WI),DNB,6,-,-,-,-,2,v Afghanistan,Harare,25 Mar 2018
88293,SO Hetmyer (WI),DNB,6,-,-,-,-,2,v Afghanistan,Harare,25 Mar 2018
88294,MN Samuels (WI),DNB,6,-,-,-,-,2,v Afghanistan,Harare,25 Mar 2018
88295,E Lewis (WI),DNB,6,-,-,-,-,2,v Afghanistan,Harare,25 Mar 2018

In [247]:
temp = df_team['date']
temp = temp.str.strip()
temp = temp.str.split(' ').tolist()
df_date=pd.DataFrame(temp)
df_date.columns=['day', 'month', 'year']
df_date

     day month  year
0     30   Aug  2016
1      4   Jul  2006
2     18   Jan  2015
3     12   Mar  2006
4     25   Oct  2015
5     12   Mar  2006
6     20   Sep  2006
7      8   Dec  2011
8      4   Mar  2015
9     15   Dec  2009
10    19   Mar  2007
11    15   Dec  2009
12     3   Mar  2015
13    27   Feb  2015
14     9   Jun  2015
15    13   Nov  2014
16     1   Jul  2008
17    24   Feb  2010
18    22   Oct  2010
19     3   Feb  2016
20     6   Mar  1996
21    12   Jun  2015
22    24   Aug  2005
23    21   Mar  2015
24     4   Feb  2007
25     8   Mar  2009
26    13   Dec  2017
27    21   Jun  2005
28    14   Nov  2008
29    21   Jun  2010
...   ..   ...   ...
7704   8   Jan  1981
7705  15   Apr  1986
7706   8   Jan  1981
7707  14   Jan  2015
7708  18   Oct  2011
7709  18   Oct  2011
7710   4   Mar  2011
7711   4   Mar  2011
7712  17   Jun  2014
7713   2   Jan  2016
7714  27   Mar  1985
7715   3   Dec  1986
7716  29   Oct  2000
7717  25   Jan  2004
7718  26   Feb  2017
7719  27   Mar  1985
7720   3   Nov  2009
7721  13   Jun  1979
7722  13   Jun  1979
7723  25   Feb  1993
7724  27   Feb  2003
7725   3   Nov  2009
7726  25   Feb  1993
7727  11   Jan  2012
7728   8   Dec  2001
7729  25   Apr  2004
7730   8   Dec  2001
7731  19   Feb  2003
7732  19   Feb  2003
7733  25   Apr  2004

[7734 rows x 3 columns]

In [248]:
type(temp)
mapper = {'Jan' : '-01-', 'Feb' : '-02-', 'Mar' : '-03-', 'Apr' : '-04-', 'May' : '-05-', 'Jun' : '-06-', 'Jul' : '-07-',
         'Aug' : '-08-', 'Sep' : '-09-', 'Oct' : '-10-', 'Nov' : '-11-', 'Dec' : '-12-'}

In [249]:
df_date = df_date.replace({'month' : mapper})
df_date['month'][0]
type(df_date['day'][0])
df_date['day'] = pd.to_numeric(df_date.day)
df_date = df_date.day.map("{:02}".format)
df_date

0       30
1       04
2       18
3       12
4       25
5       12
6       20
7       08
8       04
9       15
10      19
11      15
12      03
13      27
14      09
15      13
16      01
17      24
18      22
19      03
20      06
21      12
22      24
23      21
24      04
25      08
26      13
27      21
28      14
29      21
        ..
7704    08
7705    15
7706    08
7707    14
7708    18
7709    18
7710    04
7711    04
7712    17
7713    02
7714    27
7715    03
7716    29
7717    25
7718    26
7719    27
7720    03
7721    13
7722    13
7723    25
7724    27
7725    03
7726    25
7727    11
7728    08
7729    25
7730    08
7731    19
7732    19
7733    25
Name: day, Length: 7734, dtype: object

In [250]:
dateStamp = df_team.date
dateStamp

0       30 Aug 2016
1        4 Jul 2006
2       18 Jan 2015
3       12 Mar 2006
4       25 Oct 2015
5       12 Mar 2006
6       20 Sep 2006
7        8 Dec 2011
8        4 Mar 2015
9       15 Dec 2009
10      19 Mar 2007
11      15 Dec 2009
12       3 Mar 2015
13      27 Feb 2015
14       9 Jun 2015
15      13 Nov 2014
16       1 Jul 2008
17      24 Feb 2010
18      22 Oct 2010
19       3 Feb 2016
20       6 Mar 1996
21      12 Jun 2015
22      24 Aug 2005
23      21 Mar 2015
24       4 Feb 2007
25       8 Mar 2009
26      13 Dec 2017
27      21 Jun 2005
28      14 Nov 2008
29      21 Jun 2010
           ...
7704     8 Jan 1981
7705    15 Apr 1986
7706     8 Jan 1981
7707    14 Jan 2015
7708    18 Oct 2011
7709    18 Oct 2011
7710     4 Mar 2011
7711     4 Mar 2011
7712    17 Jun 2014
7713     2 Jan 2016
7714    27 Mar 1985
7715     3 Dec 1986
7716    29 Oct 2000
7717    25 Jan 2004
7718    26 Feb 2017
7719    27 Mar 1985
7720     3 Nov 2009
7721    13 Jun 1979
7722    13 Jun 1979
7723    25 Feb 1993
7724    27 Feb 2003
7725     3 Nov 2009
7726    25 Feb 1993
7727    11 Jan 2012
7728     8 Dec 2001
7729    25 Apr 2004
7730     8 Dec 2001
7731    19 Feb 2003
7732    19 Feb 2003
7733    25 Apr 2004
Name: date, Length: 7734, dtype: object

In [251]:
stamp = pd.to_datetime(dateStamp)
stamp

0      2016-08-30
1      2006-07-04
2      2015-01-18
3      2006-03-12
4      2015-10-25
5      2006-03-12
6      2006-09-20
7      2011-12-08
8      2015-03-04
9      2009-12-15
10     2007-03-19
11     2009-12-15
12     2015-03-03
13     2015-02-27
14     2015-06-09
15     2014-11-13
16     2008-07-01
17     2010-02-24
18     2010-10-22
19     2016-02-03
20     1996-03-06
21     2015-06-12
22     2005-08-24
23     2015-03-21
24     2007-02-04
25     2009-03-08
26     2017-12-13
27     2005-06-21
28     2008-11-14
29     2010-06-21
          ...
7704   1981-01-08
7705   1986-04-15
7706   1981-01-08
7707   2015-01-14
7708   2011-10-18
7709   2011-10-18
7710   2011-03-04
7711   2011-03-04
7712   2014-06-17
7713   2016-01-02
7714   1985-03-27
7715   1986-12-03
7716   2000-10-29
7717   2004-01-25
7718   2017-02-26
7719   1985-03-27
7720   2009-11-03
7721   1979-06-13
7722   1979-06-13
7723   1993-02-25
7724   2003-02-27
7725   2009-11-03
7726   1993-02-25
7727   2012-01-11
7728   2001-12-08
7729   2004-04-25
7730   2001-12-08
7731   2003-02-19
7732   2003-02-19
7733   2004-04-25
Name: date, Length: 7734, dtype: datetime64[ns]

In [252]:
df_batting.Date = pd.to_datetime(df_batting.Date)
df_bowling.date = pd.to_datetime(df_bowling.date)
df_team.date = pd.to_datetime(df_team.date)

In [253]:
list_of_cols = df_batting.columns.tolist()
list_of_cols = list_of_cols[-1 : ] + list_of_cols[ : -1] 
df_batting = df_batting[list_of_cols]
list_of_cols = df_bowling.columns.tolist()
list_of_cols = list_of_cols[-1 : ] + list_of_cols[ : -1] 
df_bowling = df_bowling[list_of_cols]
list_of_cols = df_team.columns.tolist()
list_of_cols = list_of_cols[-1 : ] + list_of_cols[ : -1] 
df_team = df_team[list_of_cols]

In [254]:
df_batting = df_batting.rename(columns={'Date' : 'date'})
batsman_names = df_batting.batsman

In [255]:
country_batting = df_batting['batsman']
country_batting = country_batting.str.split('(').tolist()
country_batting
df = pd.DataFrame(country_batting)
df[0][~df[2].isnull()] = df[0][~df[2].isnull()] + '(' + df[1][~df[2].isnull()]
df[1][~df[2].isnull()] = df[2][~df[2].isnull()]
df.columns=['batsman', 'country', 'trash']
df.country = df.country.str.replace(')', '')
df = df.drop(['trash'], axis=1)
df_batting['batsman'] = df.batsman
df_batting.insert(2, 'country', df['country'], allow_duplicates=True)
df_batting

,date,batsman,country,runs,mins,bf,4s,6s,SR,inns,opposition,venue
0,2014-11-13,RG Sharma,INDIA,264,225,173,33,9,152.6,1,v Sri Lanka,Kolkata
1,2015-03-21,MJ Guptill,NZ,237*,223,163,24,11,145.39,1,v West Indies,Wellington
2,2011-12-08,V Sehwag,INDIA,219,208,149,25,7,146.97,1,v West Indies,Indore
3,2015-02-24,CH Gayle,WI,215,212,147,10,16,146.25,1,v Zimbabwe,Canberra
4,2013-11-02,RG Sharma,INDIA,209,222,158,12,16,132.27,1,v Australia,Bengaluru
5,2017-12-13,RG Sharma,INDIA,208*,212,153,13,12,135.94,1,v Sri Lanka,Mohali
6,2010-02-24,SR Tendulkar,INDIA,200*,226,147,25,3,136.05,1,v South Africa,Gwalior
7,2009-08-16,CK Coventry,ZIM,194*,191,156,16,7,124.35,1,v Bangladesh,Bulawayo
8,1997-05-21,Saeed Anwar,PAK,194,206,146,22,5,132.87,1,v India,Chennai
9,1984-05-31,IVA Richards,WI,189*,-,170,21,5,111.17,1,v England,Manchester
10,2013-06-02,MJ Guptill,NZ,189*,216,155,19,2,121.93,1,v England,Southampton
11,2000-10-29,ST Jayasuriya,SL,189,-,161,21,4,117.39,1,v India,Sharjah
12,1996-02-16,G Kirsten,SA,188*,210,159,13,4,118.23,1,v U.A.E.,Rawalpindi
13,1999-11-08,SR Tendulkar,INDIA,186*,221,150,20,3,124,1,v New Zealand,Hyderabad (Deccan)
14,2011-04-11,SR Watson,AUS,185*,113,96,15,15,192.7,2,v Bangladesh,Dhaka
15,2017-02-07,F du Plessis,SA,185,212,141,16,3,131.2,1,v Sri Lanka,Cape Town
16,2005-10-31,MS Dhoni,INDIA,183*,210,145,15,10,126.2,2,v Sri Lanka,Jaipur
17,1999-05-26,SC Ganguly,INDIA,183,210,158,17,7,115.82,1,v Sri Lanka,Taunton
18,2012-03-18,V Kohli,INDIA,183,211,148,22,1,123.64,2,v Pakistan,Dhaka
19,2007-02-20,ML Hayden,AUS,181*,227,166,11,10,109.03,1,v New Zealand,Hamilton
20,2018-03-07,LRPL Taylor,NZ,181*,213,147,17,6,123.12,2,v England,Dunedin
21,1987-10-13,IVA Richards,WI,181,-,125,16,7,144.8,1,v Sri Lanka,Karachi
22,2017-03-01,MJ Guptill,NZ,180*,198,138,15,11,130.43,2,v South Africa,Hamilton
23,2018-01-14,JJ Roy,ENG,180,151,151,16,5,119.2,2,v Australia,Melbourne
24,2017-01-26,DA Warner,AUS,179,186,128,19,5,139.84,1,v Pakistan,Adelaide
25,2009-10-18,H Masakadza,ZIM,178*,201,167,17,4,106.58,1,v Kenya,Harare
26,2015-03-04,DA Warner,AUS,178,164,133,19,5,133.83,1,v Afghanistan,Perth
27,2016-09-30,Q de Kock,SA,178,142,113,16,11,157.52,2,v Australia,Centurion
28,2010-09-07,PR Stirling,IRE,177,177,134,21,5,132.08,1,v Canada,Toronto
29,2017-09-27,E Lewis,WI,176*,-,130,17,7,135.38,1,v England,The Oval
...,...,...,...,...,...,...,...,...,...,...,...,...
88266,2018-03-15,CB Sole,SCOT,DNB,-,-,-,-,-,1,v U.A.E.,Bulawayo
88267,2018-03-15,BTJ Wheal,SCOT,DNB,-,-,-,-,-,1,v U.A.E.,Bulawayo
88268,2018-03-18,TJ Murtagh,IRE,DNB,-,-,-,-,-,1,v Scotland,Harare
88269,2018-03-19,KAJ Roach,WI,DNB,-,-,-,-,-,2,v Zimbabwe,Harare
88270,2018-03-19,D Bishoo,WI,DNB,-,-,-,-,-,2,v Zimbabwe,Harare
88271,2018-03-19,KMA Paul,WI,DNB,-,-,-,-,-,2,v Zimbabwe,Harare
88272,2018-03-20,Dawlat Zadran,AFG,DNB,-,-,-,-,-,2,v U.A.E.,Harare
88273,2018-03-20,Sharafuddin Ashraf,AFG,DNB,-,-,-,-,-,2,v U.A.E.,Harare
88274,2018-03-20,Rashid Khan,AFG,DNB,-,-,-,-,-,2,v U.A.E.,Harare
88275,2018-03-20,Mujeeb Ur Rahman,AFG,DNB,-,-,-,-,-,2,v U.A.E.,Harare
88276,2018-03-21,AC Evans,SCOT,DNB,-,-,-,-,-,2,v West Indies,Harare
88277,2018-03-21,SM Sharif,SCOT,DNB,-,-,-,-,-,2,v West Indies,Harare
88278,2018-03-21,TB Sole,SCOT,DNB,-,-,-,-,-,2,v West Indies,Harare
88279,2018-03-21,BTJ Wheal,SCOT,DNB,-,-,-,-,-,2,v West Indies,Harare
88280,2018-03-22,Qadeer Ahmed,UAE,DNB,-,-,-,-,-,1,v Zimbabwe,Harare
88281,2018-03-22,Amir Hayat,UAE,DNB,-,-,-,-,-,1,v Zimbabwe,Harare
88282,2018-03-22,TL Chatara,ZIM,DNB,-,-,-,-,-,2,v U.A.E.,Harare
88283,2018-03-22,B Muzarabani,ZIM,DNB,-,-,-,-,-,2,v U.A.E.,Harare
88284,2018-03-23,TJ Murtagh,IRE,DNB,-,-,-,-,-,1,v Afghanistan,Harare
88285,2018-03-23,WB Rankin,IRE,DNB,-,-,-,-,-,1,v Afghanistan,Harare
88286,2018-03-23,Dawlat Zadran,AFG,DNB,-,-,-,-,-,2,v Ireland,Harare
88287,2018-03-23,Sharafuddin Ashraf,AFG,DNB,-,-,-,-,-,2,v Ireland,Harare
88288,2018-03-23,Rashid Khan,AFG,DNB,-,-,-,-,-,2,v Ireland,Harare
88289,2018-03-23,Mujeeb Ur Rahman,AFG,DNB,-,-,-,-,-,2,v Ireland,Harare
88290,2018-03-25,Asghar Stanikzai,AFG,DNB,-,-,-,-,-,2,v West Indies,Harare
88291,2018-03-25,Dawlat Zadran,AFG,DNB,-,-,-,-,-,2,v West Indies,Harare
88292,2018-03-25,Najibullah Zadran,AFG,DNB,-,-,-,-,-,2,v West Indies,Harare
88293,2018-03-25,Sharafuddin Ashraf,AFG,DNB,-,-,-,-,-,2,v West Indies,Harare
88294,2018-03-25,Rashid Khan,AFG,DNB,-,-,-,-,-,2,v West Indies,Harare
88295,2018-03-25,Mujeeb Ur Rahman,AFG,DNB,-,-,-,-,-,2,v West Indies,Harare

In [256]:
df[0][~df[2].isnull()]

KeyError: 0

In [257]:
country_bowling = df_bowling['bowler']
country_bowling = country_bowling.str.split('(').tolist()
#country_batting
df = pd.DataFrame(country_bowling)
df[0][~df[2].isnull()] = df[0][~df[2].isnull()] + '(' + df[1][~df[2].isnull()]
df[1][~df[2].isnull()] = df[2][~df[2].isnull()]
df.columns=['bowler', 'country', 'trash']
df.country = df.country.str.replace(')', '')
df = df.drop(['trash'], axis=1)
df_bowling['bowler'] = df.bowler
df_bowling.insert(2, 'country', df['country'], allow_duplicates=True)
df_bowling

,date,bowler,country,overs,bpo,maidens,runs,wkts,econ,inns,opposition,ground
0,2001-12-08,WPUJC Vaas,SL,8.0,6,3,19,8,2.37,1,v Zimbabwe,Colombo (SSC)
1,2013-07-14,Shahid Afridi,PAK,9.0,6,3,12,7,1.33,2,v West Indies,Providence
2,2003-02-27,GD McGrath,AUS,7.0,6,4,15,7,2.14,2,v Namibia,Potchefstroom
3,2017-06-09,Rashid Khan,AFG,8.4,6,1,18,7,2.07,2,v West Indies,Gros Islet
4,2003-03-02,AJ Bichel,AUS,10.0,6,0,20,7,2.00,1,v England,Port Elizabeth
5,2000-10-27,M Muralitharan,SL,10.0,6,1,30,7,3.00,2,v India,Sharjah
6,2015-02-20,TG Southee,NZ,9.0,6,0,33,7,3.66,1,v England,Wellington
7,2017-12-23,TA Boult,NZ,10.0,6,3,34,7,3.40,2,v West Indies,Christchurch
8,2001-06-17,Waqar Younis,PAK,10.0,6,0,36,7,3.60,1,v England,Leeds
9,1991-10-25,Aaqib Javed,PAK,10.0,6,1,37,7,3.70,2,v India,Sharjah
10,2016-06-15,Imran Tahir,SA,9.0,6,0,45,7,5.00,2,v West Indies,Basseterre
11,1983-06-11,WW Davis,WI,10.3,6,0,51,7,4.85,2,v Australia,Leeds
12,2014-06-17,STR Binny,INDIA,4.4,6,2,4,6,0.85,2,v Bangladesh,Dhaka
13,1993-11-27,A Kumble,INDIA,6.1,6,2,12,6,1.94,2,v West Indies,Kolkata
14,2008-07-06,BAW Mendis,SL,8.0,6,1,13,6,1.62,2,v India,Karachi
15,1975-06-18,GJ Gilmour,AUS,12.0,6,6,14,6,1.16,1,v England,Leeds
16,1985-03-22,Imran Khan,PAK,10.0,6,2,14,6,1.40,1,v India,Sharjah
17,2006-10-14,MF Maharoof,SL,9.0,6,2,14,6,1.55,1,v West Indies,Mumbai (BS)
18,1981-02-04,CEH Croft,WI,9.0,6,4,15,6,1.66,2,v England,Kingstown
19,2002-04-21,Shoaib Akhtar,PAK,9.0,6,1,16,6,1.77,2,v New Zealand,Karachi
20,2015-07-10,K Rabada,SA,8.0,6,3,16,6,2.00,1,v Bangladesh,Dhaka
21,1999-10-19,Azhar Mahmood,PAK,10.0,6,2,18,6,1.80,2,v West Indies,Sharjah
22,2000-01-28,HK Olonga,ZIM,8.2,6,3,19,6,2.28,2,v England,Cape Town
23,2005-08-26,SE Bond,NZ,9.0,6,3,19,6,2.11,2,v India,Bulawayo
24,1997-10-14,BC Strang,ZIM,10.0,6,2,20,6,2.00,2,v Bangladesh,Nairobi (Aga)
25,2009-09-12,AD Mathews,SL,6.0,6,0,20,6,3.33,2,v India,Colombo (RPS)
26,2003-11-29,FH Edwards,WI,7.0,6,1,22,6,3.14,2,v Zimbabwe,Harare
27,2006-03-03,M Ntini,SA,9.3,6,4,22,6,2.31,2,v Australia,Cape Town
28,1996-10-03,AA Donald,SA,9.0,6,0,23,6,2.55,2,v Kenya,Nairobi (Gym)
29,2003-02-26,A Nehra,INDIA,10.0,6,2,23,6,2.30,2,v England,Durban
...,...,...,...,...,...,...,...,...,...,...,...,...
88266,2018-03-22,PJ Moor,ZIM,DNB,6,-,-,-,-,1,v U.A.E.,Harare
88267,2018-03-22,BRM Taylor,ZIM,DNB,6,-,-,-,-,1,v U.A.E.,Harare
88268,2018-03-22,SF Mire,ZIM,DNB,6,-,-,-,-,1,v U.A.E.,Harare
88269,2018-03-22,Adnan Mufti,UAE,DNB,6,-,-,-,-,2,v Zimbabwe,Harare
88270,2018-03-22,Ghulam Shabber,UAE,DNB,6,-,-,-,-,2,v Zimbabwe,Harare
88271,2018-03-22,Shaiman Anwar,UAE,DNB,6,-,-,-,-,2,v Zimbabwe,Harare
88272,2018-03-22,Muhammad Usman,UAE,DNB,6,-,-,-,-,2,v Zimbabwe,Harare
88273,2018-03-22,Rameez Shahzad,UAE,DNB,6,-,-,-,-,2,v Zimbabwe,Harare
88274,2018-03-22,Ashfaq Ahmed,UAE,DNB,6,-,-,-,-,2,v Zimbabwe,Harare
88275,2018-03-23,Samiullah Shenwari,AFG,DNB,6,-,-,-,-,1,v Ireland,Harare
88276,2018-03-23,Asghar Stanikzai,AFG,DNB,6,-,-,-,-,1,v Ireland,Harare
88277,2018-03-23,Najibullah Zadran,AFG,DNB,6,-,-,-,-,1,v Ireland,Harare
88278,2018-03-23,Rahmat Shah,AFG,DNB,6,-,-,-,-,1,v Ireland,Harare
88279,2018-03-23,Mohammad Shahzad,AFG,DNB,6,-,-,-,-,1,v Ireland,Harare
88280,2018-03-23,GC Wilson,IRE,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88281,2018-03-23,NJ O'Brien,IRE,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88282,2018-03-23,WTS Porterfield,IRE,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88283,2018-03-23,A Balbirnie,IRE,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88284,2018-03-23,KJ O'Brien,IRE,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88285,2018-03-23,PR Stirling,IRE,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88286,2018-03-25,Rahmat Shah,AFG,DNB,6,-,-,-,-,1,v West Indies,Harare
88287,2018-03-25,Mohammad Shahzad,AFG,DNB,6,-,-,-,-,1,v West Indies,Harare
88288,2018-03-25,Samiullah Shenwari,AFG,DNB,6,-,-,-,-,1,v West Indies,Harare
88289,2018-03-25,Najibullah Zadran,AFG,DNB,6,-,-,-,-,1,v West Indies,Harare
88290,2018-03-25,Asghar Stanikzai,AFG,DNB,6,-,-,-,-,1,v West Indies,Harare
88291,2018-03-25,R Powell,WI,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88292,2018-03-25,SD Hope,WI,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88293,2018-03-25,SO Hetmyer,WI,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88294,2018-03-25,MN Samuels,WI,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88295,2018-03-25,E Lewis,WI,DNB,6,-,-,-,-,2,v Afghanistan,Harare

In [258]:
df_batting.country.unique()

array(['INDIA', 'NZ', 'WI', 'ZIM', 'PAK', 'SL', 'SA', 'AUS', 'ENG', 'IRE',
       'SCOT', 'BDESH', 'PNG', 'KENYA', 'HKG', 'Asia', 'CAN', 'NL', 'UAE',
       'AFG', 'Afr', 'ICC', 'BMUDA', 'NAM', 'EAf', 'USA'], dtype=object)

In [259]:
df_batting[df_batting['country'] == '1 ']

Empty DataFrame
Columns: [date, batsman, country, runs, mins, bf, 4s, 6s, SR, inns, opposition, venue]
Index: []

In [260]:
df_bowling.country.unique()

array(['SL', 'PAK', 'AUS', 'AFG', 'NZ', 'SA', 'WI', 'INDIA', 'ZIM',
       'BDESH', 'SCOT', 'ENG', 'UAE', 'PNG', 'IRE', 'KENYA', 'NL', 'CAN',
       'NAM', 'BMUDA', 'HKG', 'ICC', 'Asia', 'Afr', 'EAf', 'USA'], dtype=object)

In [261]:
df_team.team.unique()

array(['England', 'Sri Lanka', 'South Africa', 'Australia', 'India',
       'New Zealand', 'Pakistan', 'West Indies', 'Zimbabwe', 'Kenya',
       'ICC World XI', 'Scotland', 'Afghanistan', 'Asia XI', 'Ireland',
       'Bangladesh', 'Hong Kong', 'Africa XI', 'Netherlands', 'Canada',
       'U.A.E.', 'Bermuda', 'P.N.G.', 'Namibia', 'U.S.A.', 'East Africa'], dtype=object)

In [262]:
country_mapper = {
    'INDIA' : 'India', 'NZ' : 'New Zealand', 'WI' : 'West Indies', 'ZIM' : 'Zimbabwe', 'PAK' : 'Pakistan', 
    'SL' : 'Sri Lanka', 'SA' : 'South Africa', 'AUS' : 'Australia', 'ENG' : 'England', 'IRE' : 'Ireland',
    'SCOT' : 'Scotland', 'BDESH' : 'Bangladesh', 'PNG' : 'P.N.G.', 'KENYA' : 'Kenya', 'HKG' : 'Hong Kong',
    'Asia' : 'Asia XI', 'CAN' : 'Canada', 'NL' : 'Netherlands', 'UAE' : 'U.A.E.', 'AFG' : 'Afghanistan', 
    'Afr' : 'Africa XI', 'ICC' : 'ICC World XI', 'BMUDA' : 'Bermuda', 'NAM' : 'Namibia', 'EAf' : 'East Africa', 'USA' : 'U.S.A.'
}

In [263]:
df_batting = df_batting.replace({'country' : country_mapper})
df_bowling = df_bowling.replace({'country' : country_mapper})

In [264]:
df_bowling

,date,bowler,country,overs,bpo,maidens,runs,wkts,econ,inns,opposition,ground
0,2001-12-08,WPUJC Vaas,Sri Lanka,8.0,6,3,19,8,2.37,1,v Zimbabwe,Colombo (SSC)
1,2013-07-14,Shahid Afridi,Pakistan,9.0,6,3,12,7,1.33,2,v West Indies,Providence
2,2003-02-27,GD McGrath,Australia,7.0,6,4,15,7,2.14,2,v Namibia,Potchefstroom
3,2017-06-09,Rashid Khan,Afghanistan,8.4,6,1,18,7,2.07,2,v West Indies,Gros Islet
4,2003-03-02,AJ Bichel,Australia,10.0,6,0,20,7,2.00,1,v England,Port Elizabeth
5,2000-10-27,M Muralitharan,Sri Lanka,10.0,6,1,30,7,3.00,2,v India,Sharjah
6,2015-02-20,TG Southee,New Zealand,9.0,6,0,33,7,3.66,1,v England,Wellington
7,2017-12-23,TA Boult,New Zealand,10.0,6,3,34,7,3.40,2,v West Indies,Christchurch
8,2001-06-17,Waqar Younis,Pakistan,10.0,6,0,36,7,3.60,1,v England,Leeds
9,1991-10-25,Aaqib Javed,Pakistan,10.0,6,1,37,7,3.70,2,v India,Sharjah
10,2016-06-15,Imran Tahir,South Africa,9.0,6,0,45,7,5.00,2,v West Indies,Basseterre
11,1983-06-11,WW Davis,West Indies,10.3,6,0,51,7,4.85,2,v Australia,Leeds
12,2014-06-17,STR Binny,India,4.4,6,2,4,6,0.85,2,v Bangladesh,Dhaka
13,1993-11-27,A Kumble,India,6.1,6,2,12,6,1.94,2,v West Indies,Kolkata
14,2008-07-06,BAW Mendis,Sri Lanka,8.0,6,1,13,6,1.62,2,v India,Karachi
15,1975-06-18,GJ Gilmour,Australia,12.0,6,6,14,6,1.16,1,v England,Leeds
16,1985-03-22,Imran Khan,Pakistan,10.0,6,2,14,6,1.40,1,v India,Sharjah
17,2006-10-14,MF Maharoof,Sri Lanka,9.0,6,2,14,6,1.55,1,v West Indies,Mumbai (BS)
18,1981-02-04,CEH Croft,West Indies,9.0,6,4,15,6,1.66,2,v England,Kingstown
19,2002-04-21,Shoaib Akhtar,Pakistan,9.0,6,1,16,6,1.77,2,v New Zealand,Karachi
20,2015-07-10,K Rabada,South Africa,8.0,6,3,16,6,2.00,1,v Bangladesh,Dhaka
21,1999-10-19,Azhar Mahmood,Pakistan,10.0,6,2,18,6,1.80,2,v West Indies,Sharjah
22,2000-01-28,HK Olonga,Zimbabwe,8.2,6,3,19,6,2.28,2,v England,Cape Town
23,2005-08-26,SE Bond,New Zealand,9.0,6,3,19,6,2.11,2,v India,Bulawayo
24,1997-10-14,BC Strang,Zimbabwe,10.0,6,2,20,6,2.00,2,v Bangladesh,Nairobi (Aga)
25,2009-09-12,AD Mathews,Sri Lanka,6.0,6,0,20,6,3.33,2,v India,Colombo (RPS)
26,2003-11-29,FH Edwards,West Indies,7.0,6,1,22,6,3.14,2,v Zimbabwe,Harare
27,2006-03-03,M Ntini,South Africa,9.3,6,4,22,6,2.31,2,v Australia,Cape Town
28,1996-10-03,AA Donald,South Africa,9.0,6,0,23,6,2.55,2,v Kenya,Nairobi (Gym)
29,2003-02-26,A Nehra,India,10.0,6,2,23,6,2.30,2,v England,Durban
...,...,...,...,...,...,...,...,...,...,...,...,...
88266,2018-03-22,PJ Moor,Zimbabwe,DNB,6,-,-,-,-,1,v U.A.E.,Harare
88267,2018-03-22,BRM Taylor,Zimbabwe,DNB,6,-,-,-,-,1,v U.A.E.,Harare
88268,2018-03-22,SF Mire,Zimbabwe,DNB,6,-,-,-,-,1,v U.A.E.,Harare
88269,2018-03-22,Adnan Mufti,U.A.E.,DNB,6,-,-,-,-,2,v Zimbabwe,Harare
88270,2018-03-22,Ghulam Shabber,U.A.E.,DNB,6,-,-,-,-,2,v Zimbabwe,Harare
88271,2018-03-22,Shaiman Anwar,U.A.E.,DNB,6,-,-,-,-,2,v Zimbabwe,Harare
88272,2018-03-22,Muhammad Usman,U.A.E.,DNB,6,-,-,-,-,2,v Zimbabwe,Harare
88273,2018-03-22,Rameez Shahzad,U.A.E.,DNB,6,-,-,-,-,2,v Zimbabwe,Harare
88274,2018-03-22,Ashfaq Ahmed,U.A.E.,DNB,6,-,-,-,-,2,v Zimbabwe,Harare
88275,2018-03-23,Samiullah Shenwari,Afghanistan,DNB,6,-,-,-,-,1,v Ireland,Harare
88276,2018-03-23,Asghar Stanikzai,Afghanistan,DNB,6,-,-,-,-,1,v Ireland,Harare
88277,2018-03-23,Najibullah Zadran,Afghanistan,DNB,6,-,-,-,-,1,v Ireland,Harare
88278,2018-03-23,Rahmat Shah,Afghanistan,DNB,6,-,-,-,-,1,v Ireland,Harare
88279,2018-03-23,Mohammad Shahzad,Afghanistan,DNB,6,-,-,-,-,1,v Ireland,Harare
88280,2018-03-23,GC Wilson,Ireland,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88281,2018-03-23,NJ O'Brien,Ireland,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88282,2018-03-23,WTS Porterfield,Ireland,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88283,2018-03-23,A Balbirnie,Ireland,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88284,2018-03-23,KJ O'Brien,Ireland,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88285,2018-03-23,PR Stirling,Ireland,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88286,2018-03-25,Rahmat Shah,Afghanistan,DNB,6,-,-,-,-,1,v West Indies,Harare
88287,2018-03-25,Mohammad Shahzad,Afghanistan,DNB,6,-,-,-,-,1,v West Indies,Harare
88288,2018-03-25,Samiullah Shenwari,Afghanistan,DNB,6,-,-,-,-,1,v West Indies,Harare
88289,2018-03-25,Najibullah Zadran,Afghanistan,DNB,6,-,-,-,-,1,v West Indies,Harare
88290,2018-03-25,Asghar Stanikzai,Afghanistan,DNB,6,-,-,-,-,1,v West Indies,Harare
88291,2018-03-25,R Powell,West Indies,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88292,2018-03-25,SD Hope,West Indies,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88293,2018-03-25,SO Hetmyer,West Indies,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88294,2018-03-25,MN Samuels,West Indies,DNB,6,-,-,-,-,2,v Afghanistan,Harare
88295,2018-03-25,E Lewis,West Indies,DNB,6,-,-,-,-,2,v Afghanistan,Harare

In [265]:
temp = df_bowling['opposition']
temp = temp.str
df_bowling['opposition'] = temp[2:]
df_bowling

,date,bowler,country,overs,bpo,maidens,runs,wkts,econ,inns,opposition,ground
0,2001-12-08,WPUJC Vaas,Sri Lanka,8.0,6,3,19,8,2.37,1,Zimbabwe,Colombo (SSC)
1,2013-07-14,Shahid Afridi,Pakistan,9.0,6,3,12,7,1.33,2,West Indies,Providence
2,2003-02-27,GD McGrath,Australia,7.0,6,4,15,7,2.14,2,Namibia,Potchefstroom
3,2017-06-09,Rashid Khan,Afghanistan,8.4,6,1,18,7,2.07,2,West Indies,Gros Islet
4,2003-03-02,AJ Bichel,Australia,10.0,6,0,20,7,2.00,1,England,Port Elizabeth
5,2000-10-27,M Muralitharan,Sri Lanka,10.0,6,1,30,7,3.00,2,India,Sharjah
6,2015-02-20,TG Southee,New Zealand,9.0,6,0,33,7,3.66,1,England,Wellington
7,2017-12-23,TA Boult,New Zealand,10.0,6,3,34,7,3.40,2,West Indies,Christchurch
8,2001-06-17,Waqar Younis,Pakistan,10.0,6,0,36,7,3.60,1,England,Leeds
9,1991-10-25,Aaqib Javed,Pakistan,10.0,6,1,37,7,3.70,2,India,Sharjah
10,2016-06-15,Imran Tahir,South Africa,9.0,6,0,45,7,5.00,2,West Indies,Basseterre
11,1983-06-11,WW Davis,West Indies,10.3,6,0,51,7,4.85,2,Australia,Leeds
12,2014-06-17,STR Binny,India,4.4,6,2,4,6,0.85,2,Bangladesh,Dhaka
13,1993-11-27,A Kumble,India,6.1,6,2,12,6,1.94,2,West Indies,Kolkata
14,2008-07-06,BAW Mendis,Sri Lanka,8.0,6,1,13,6,1.62,2,India,Karachi
15,1975-06-18,GJ Gilmour,Australia,12.0,6,6,14,6,1.16,1,England,Leeds
16,1985-03-22,Imran Khan,Pakistan,10.0,6,2,14,6,1.40,1,India,Sharjah
17,2006-10-14,MF Maharoof,Sri Lanka,9.0,6,2,14,6,1.55,1,West Indies,Mumbai (BS)
18,1981-02-04,CEH Croft,West Indies,9.0,6,4,15,6,1.66,2,England,Kingstown
19,2002-04-21,Shoaib Akhtar,Pakistan,9.0,6,1,16,6,1.77,2,New Zealand,Karachi
20,2015-07-10,K Rabada,South Africa,8.0,6,3,16,6,2.00,1,Bangladesh,Dhaka
21,1999-10-19,Azhar Mahmood,Pakistan,10.0,6,2,18,6,1.80,2,West Indies,Sharjah
22,2000-01-28,HK Olonga,Zimbabwe,8.2,6,3,19,6,2.28,2,England,Cape Town
23,2005-08-26,SE Bond,New Zealand,9.0,6,3,19,6,2.11,2,India,Bulawayo
24,1997-10-14,BC Strang,Zimbabwe,10.0,6,2,20,6,2.00,2,Bangladesh,Nairobi (Aga)
25,2009-09-12,AD Mathews,Sri Lanka,6.0,6,0,20,6,3.33,2,India,Colombo (RPS)
26,2003-11-29,FH Edwards,West Indies,7.0,6,1,22,6,3.14,2,Zimbabwe,Harare
27,2006-03-03,M Ntini,South Africa,9.3,6,4,22,6,2.31,2,Australia,Cape Town
28,1996-10-03,AA Donald,South Africa,9.0,6,0,23,6,2.55,2,Kenya,Nairobi (Gym)
29,2003-02-26,A Nehra,India,10.0,6,2,23,6,2.30,2,England,Durban
...,...,...,...,...,...,...,...,...,...,...,...,...
88266,2018-03-22,PJ Moor,Zimbabwe,DNB,6,-,-,-,-,1,U.A.E.,Harare
88267,2018-03-22,BRM Taylor,Zimbabwe,DNB,6,-,-,-,-,1,U.A.E.,Harare
88268,2018-03-22,SF Mire,Zimbabwe,DNB,6,-,-,-,-,1,U.A.E.,Harare
88269,2018-03-22,Adnan Mufti,U.A.E.,DNB,6,-,-,-,-,2,Zimbabwe,Harare
88270,2018-03-22,Ghulam Shabber,U.A.E.,DNB,6,-,-,-,-,2,Zimbabwe,Harare
88271,2018-03-22,Shaiman Anwar,U.A.E.,DNB,6,-,-,-,-,2,Zimbabwe,Harare
88272,2018-03-22,Muhammad Usman,U.A.E.,DNB,6,-,-,-,-,2,Zimbabwe,Harare
88273,2018-03-22,Rameez Shahzad,U.A.E.,DNB,6,-,-,-,-,2,Zimbabwe,Harare
88274,2018-03-22,Ashfaq Ahmed,U.A.E.,DNB,6,-,-,-,-,2,Zimbabwe,Harare
88275,2018-03-23,Samiullah Shenwari,Afghanistan,DNB,6,-,-,-,-,1,Ireland,Harare
88276,2018-03-23,Asghar Stanikzai,Afghanistan,DNB,6,-,-,-,-,1,Ireland,Harare
88277,2018-03-23,Najibullah Zadran,Afghanistan,DNB,6,-,-,-,-,1,Ireland,Harare
88278,2018-03-23,Rahmat Shah,Afghanistan,DNB,6,-,-,-,-,1,Ireland,Harare
88279,2018-03-23,Mohammad Shahzad,Afghanistan,DNB,6,-,-,-,-,1,Ireland,Harare
88280,2018-03-23,GC Wilson,Ireland,DNB,6,-,-,-,-,2,Afghanistan,Harare
88281,2018-03-23,NJ O'Brien,Ireland,DNB,6,-,-,-,-,2,Afghanistan,Harare
88282,2018-03-23,WTS Porterfield,Ireland,DNB,6,-,-,-,-,2,Afghanistan,Harare
88283,2018-03-23,A Balbirnie,Ireland,DNB,6,-,-,-,-,2,Afghanistan,Harare
88284,2018-03-23,KJ O'Brien,Ireland,DNB,6,-,-,-,-,2,Afghanistan,Harare
88285,2018-03-23,PR Stirling,Ireland,DNB,6,-,-,-,-,2,Afghanistan,Harare
88286,2018-03-25,Rahmat Shah,Afghanistan,DNB,6,-,-,-,-,1,West Indies,Harare
88287,2018-03-25,Mohammad Shahzad,Afghanistan,DNB,6,-,-,-,-,1,West Indies,Harare
88288,2018-03-25,Samiullah Shenwari,Afghanistan,DNB,6,-,-,-,-,1,West Indies,Harare
88289,2018-03-25,Najibullah Zadran,Afghanistan,DNB,6,-,-,-,-,1,West Indies,Harare
88290,2018-03-25,Asghar Stanikzai,Afghanistan,DNB,6,-,-,-,-,1,West Indies,Harare
88291,2018-03-25,R Powell,West Indies,DNB,6,-,-,-,-,2,Afghanistan,Harare
88292,2018-03-25,SD Hope,West Indies,DNB,6,-,-,-,-,2,Afghanistan,Harare
88293,2018-03-25,SO Hetmyer,West Indies,DNB,6,-,-,-,-,2,Afghanistan,Harare
88294,2018-03-25,MN Samuels,West Indies,DNB,6,-,-,-,-,2,Afghanistan,Harare
88295,2018-03-25,E Lewis,West Indies,DNB,6,-,-,-,-,2,Afghanistan,Harare

In [266]:
temp = df_batting['opposition']
temp = temp.str
df_batting['opposition'] = temp[2:]
df_batting

,date,batsman,country,runs,mins,bf,4s,6s,SR,inns,opposition,venue
0,2014-11-13,RG Sharma,India,264,225,173,33,9,152.6,1,Sri Lanka,Kolkata
1,2015-03-21,MJ Guptill,New Zealand,237*,223,163,24,11,145.39,1,West Indies,Wellington
2,2011-12-08,V Sehwag,India,219,208,149,25,7,146.97,1,West Indies,Indore
3,2015-02-24,CH Gayle,West Indies,215,212,147,10,16,146.25,1,Zimbabwe,Canberra
4,2013-11-02,RG Sharma,India,209,222,158,12,16,132.27,1,Australia,Bengaluru
5,2017-12-13,RG Sharma,India,208*,212,153,13,12,135.94,1,Sri Lanka,Mohali
6,2010-02-24,SR Tendulkar,India,200*,226,147,25,3,136.05,1,South Africa,Gwalior
7,2009-08-16,CK Coventry,Zimbabwe,194*,191,156,16,7,124.35,1,Bangladesh,Bulawayo
8,1997-05-21,Saeed Anwar,Pakistan,194,206,146,22,5,132.87,1,India,Chennai
9,1984-05-31,IVA Richards,West Indies,189*,-,170,21,5,111.17,1,England,Manchester
10,2013-06-02,MJ Guptill,New Zealand,189*,216,155,19,2,121.93,1,England,Southampton
11,2000-10-29,ST Jayasuriya,Sri Lanka,189,-,161,21,4,117.39,1,India,Sharjah
12,1996-02-16,G Kirsten,South Africa,188*,210,159,13,4,118.23,1,U.A.E.,Rawalpindi
13,1999-11-08,SR Tendulkar,India,186*,221,150,20,3,124,1,New Zealand,Hyderabad (Deccan)
14,2011-04-11,SR Watson,Australia,185*,113,96,15,15,192.7,2,Bangladesh,Dhaka
15,2017-02-07,F du Plessis,South Africa,185,212,141,16,3,131.2,1,Sri Lanka,Cape Town
16,2005-10-31,MS Dhoni,India,183*,210,145,15,10,126.2,2,Sri Lanka,Jaipur
17,1999-05-26,SC Ganguly,India,183,210,158,17,7,115.82,1,Sri Lanka,Taunton
18,2012-03-18,V Kohli,India,183,211,148,22,1,123.64,2,Pakistan,Dhaka
19,2007-02-20,ML Hayden,Australia,181*,227,166,11,10,109.03,1,New Zealand,Hamilton
20,2018-03-07,LRPL Taylor,New Zealand,181*,213,147,17,6,123.12,2,England,Dunedin
21,1987-10-13,IVA Richards,West Indies,181,-,125,16,7,144.8,1,Sri Lanka,Karachi
22,2017-03-01,MJ Guptill,New Zealand,180*,198,138,15,11,130.43,2,South Africa,Hamilton
23,2018-01-14,JJ Roy,England,180,151,151,16,5,119.2,2,Australia,Melbourne
24,2017-01-26,DA Warner,Australia,179,186,128,19,5,139.84,1,Pakistan,Adelaide
25,2009-10-18,H Masakadza,Zimbabwe,178*,201,167,17,4,106.58,1,Kenya,Harare
26,2015-03-04,DA Warner,Australia,178,164,133,19,5,133.83,1,Afghanistan,Perth
27,2016-09-30,Q de Kock,South Africa,178,142,113,16,11,157.52,2,Australia,Centurion
28,2010-09-07,PR Stirling,Ireland,177,177,134,21,5,132.08,1,Canada,Toronto
29,2017-09-27,E Lewis,West Indies,176*,-,130,17,7,135.38,1,England,The Oval
...,...,...,...,...,...,...,...,...,...,...,...,...
88266,2018-03-15,CB Sole,Scotland,DNB,-,-,-,-,-,1,U.A.E.,Bulawayo
88267,2018-03-15,BTJ Wheal,Scotland,DNB,-,-,-,-,-,1,U.A.E.,Bulawayo
88268,2018-03-18,TJ Murtagh,Ireland,DNB,-,-,-,-,-,1,Scotland,Harare
88269,2018-03-19,KAJ Roach,West Indies,DNB,-,-,-,-,-,2,Zimbabwe,Harare
88270,2018-03-19,D Bishoo,West Indies,DNB,-,-,-,-,-,2,Zimbabwe,Harare
88271,2018-03-19,KMA Paul,West Indies,DNB,-,-,-,-,-,2,Zimbabwe,Harare
88272,2018-03-20,Dawlat Zadran,Afghanistan,DNB,-,-,-,-,-,2,U.A.E.,Harare
88273,2018-03-20,Sharafuddin Ashraf,Afghanistan,DNB,-,-,-,-,-,2,U.A.E.,Harare
88274,2018-03-20,Rashid Khan,Afghanistan,DNB,-,-,-,-,-,2,U.A.E.,Harare
88275,2018-03-20,Mujeeb Ur Rahman,Afghanistan,DNB,-,-,-,-,-,2,U.A.E.,Harare
88276,2018-03-21,AC Evans,Scotland,DNB,-,-,-,-,-,2,West Indies,Harare
88277,2018-03-21,SM Sharif,Scotland,DNB,-,-,-,-,-,2,West Indies,Harare
88278,2018-03-21,TB Sole,Scotland,DNB,-,-,-,-,-,2,West Indies,Harare
88279,2018-03-21,BTJ Wheal,Scotland,DNB,-,-,-,-,-,2,West Indies,Harare
88280,2018-03-22,Qadeer Ahmed,U.A.E.,DNB,-,-,-,-,-,1,Zimbabwe,Harare
88281,2018-03-22,Amir Hayat,U.A.E.,DNB,-,-,-,-,-,1,Zimbabwe,Harare
88282,2018-03-22,TL Chatara,Zimbabwe,DNB,-,-,-,-,-,2,U.A.E.,Harare
88283,2018-03-22,B Muzarabani,Zimbabwe,DNB,-,-,-,-,-,2,U.A.E.,Harare
88284,2018-03-23,TJ Murtagh,Ireland,DNB,-,-,-,-,-,1,Afghanistan,Harare
88285,2018-03-23,WB Rankin,Ireland,DNB,-,-,-,-,-,1,Afghanistan,Harare
88286,2018-03-23,Dawlat Zadran,Afghanistan,DNB,-,-,-,-,-,2,Ireland,Harare
88287,2018-03-23,Sharafuddin Ashraf,Afghanistan,DNB,-,-,-,-,-,2,Ireland,Harare
88288,2018-03-23,Rashid Khan,Afghanistan,DNB,-,-,-,-,-,2,Ireland,Harare
88289,2018-03-23,Mujeeb Ur Rahman,Afghanistan,DNB,-,-,-,-,-,2,Ireland,Harare
88290,2018-03-25,Asghar Stanikzai,Afghanistan,DNB,-,-,-,-,-,2,West Indies,Harare
88291,2018-03-25,Dawlat Zadran,Afghanistan,DNB,-,-,-,-,-,2,West Indies,Harare
88292,2018-03-25,Najibullah Zadran,Afghanistan,DNB,-,-,-,-,-,2,West Indies,Harare
88293,2018-03-25,Sharafuddin Ashraf,Afghanistan,DNB,-,-,-,-,-,2,West Indies,Harare
88294,2018-03-25,Rashid Khan,Afghanistan,DNB,-,-,-,-,-,2,West Indies,Harare
88295,2018-03-25,Mujeeb Ur Rahman,Afghanistan,DNB,-,-,-,-,-,2,West Indies,Harare

In [267]:
df_batting.to_csv('batsman_cleaned.csv', sep=',')
df_bowling.to_csv('bowler_cleaned.csv', sep=',')
df_team.to_csv('match_cleaned.csv', sep=',')

In [268]:
len(df_bowling)

88296