In [1]:
import numpy as np
import pandas as pd

In [2]:
#import urllib2 as link
from urllib.request import urlopen
from bs4 import BeautifulSoup

links = []
team_name = []
#country = []
score = []
overs = []
rpo = []
inns = []
result = []
opposition = []
ground = []
date = []

template_1 = "http://stats.espncricinfo.com/ci/engine/stats/index.html?class=2;filter=advanced;orderby=team_score;page="
template_2 = ";result=1;result=2;result=3;size=200;template=results;type=team;view=innings"
page_number = 39

for i in range(page_number):
    link = template_1 + str(i+1) + template_2
    links.append(link)

In [3]:
df_match_details = pd.DataFrame(columns=['team', 'score', 'overs', 'rpo', 'inns', 'result', 'opposition', 'ground', 'date'])

In [6]:
for link in links:

    page = urlopen(link)
    soup = BeautifulSoup(page)
    all_tables=soup.find_all('table')
    right_table=soup.find_all('table', class_='engineTable')
    temp = right_table
    page_core_data = temp[2]

    tag_th = page_core_data.find_all('th')
    
    feature_list_team = []
    for name in tag_th:
        if(name.text):
            feature_list_team.append(name.text)
    #print(feature_list_bowling)
    core_details = page_core_data.find_all('tbody')
    core_details = core_details[0]
    each_page = core_details.find_all('tr', class_='data1')
    temp = each_page[0]
    tag_td = temp.find_all('td')
    for each_row in each_page:
        temp = each_row
        tag_td = temp.find_all('td')
    
        team_name.append(tag_td[0].text)
        score.append(tag_td[1].text)
        overs.append(tag_td[2].text)
        rpo.append(tag_td[3].text)
        inns.append(tag_td[4].text)
        result.append(tag_td[5].text)
        opposition.append(tag_td[7].text)
        ground.append(tag_td[8].text)
        date.append(tag_td[9].text)

C:\Users\Hitesh Mohite\Anaconda3\lib\site-packages\bs4\__init__.py:181: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

The code that caused this warning is on line 193 of the file C:\Users\Hitesh Mohite\Anaconda3\lib\runpy.py. To get rid of this warning, change code that looks like this:

 BeautifulSoup(YOUR_MARKUP})

to this:

 BeautifulSoup(YOUR_MARKUP, "lxml")

  markup_type=markup_type))

In [7]:
link

'http://stats.espncricinfo.com/ci/engine/stats/index.html?class=2;filter=advanced;orderby=team_score;page=39;result=1;result=2;result=3;size=200;template=results;type=team;view=innings'

In [8]:
df_match_details['team'] = team_name
df_match_details['score'] = score
df_match_details['overs'] = overs
df_match_details['rpo'] = rpo
df_match_details['inns'] = inns
df_match_details['result'] = result
df_match_details['opposition'] = opposition
df_match_details['ground'] = ground
df_match_details['date'] = date

df_match_details.to_csv('every_match_details.csv', sep=',')

In [9]:
df_match_details

,team,score,overs,rpo,inns,result,opposition,ground,date
0,England,444/3,50.0,8.88,1,won,v Pakistan,Nottingham,30 Aug 2016
1,Sri Lanka,443/9,50.0,8.86,1,won,v Netherlands,Amstelveen,4 Jul 2006
2,South Africa,439/2,50.0,8.78,1,won,v West Indies,Johannesburg,18 Jan 2015
3,South Africa,438/9,49.5,8.78,2,won,v Australia,Johannesburg,12 Mar 2006
4,South Africa,438/4,50.0,8.76,1,won,v India,Mumbai,25 Oct 2015
5,Australia,434/4,50.0,8.68,1,lost,v South Africa,Johannesburg,12 Mar 2006
6,South Africa,418/5,50.0,8.36,1,won,v Zimbabwe,Potchefstroom,20 Sep 2006
7,India,418/5,50.0,8.36,1,won,v West Indies,Indore,8 Dec 2011
8,Australia,417/6,50.0,8.34,1,won,v Afghanistan,Perth,4 Mar 2015
9,India,414/7,50.0,8.28,1,won,v Sri Lanka,Rajkot,15 Dec 2009
10,India,413/5,50.0,8.26,1,won,v Bermuda,Port of Spain,19 Mar 2007
11,Sri Lanka,411/8,50.0,8.22,2,lost,v India,Rajkot,15 Dec 2009
12,South Africa,411/4,50.0,8.22,1,won,v Ireland,Canberra,3 Mar 2015
13,South Africa,408/5,50.0,8.16,1,won,v West Indies,Sydney,27 Feb 2015
14,England,408/9,50.0,8.16,1,won,v New Zealand,Birmingham,9 Jun 2015
15,India,404/5,50.0,8.08,1,won,v Sri Lanka,Kolkata,13 Nov 2014
16,New Zealand,402/2,50.0,8.04,1,won,v Ireland,Aberdeen,1 Jul 2008
17,India,401/3,50.0,8.02,1,won,v South Africa,Gwalior,24 Feb 2010
18,South Africa,399/6,50.0,7.98,1,won,v Zimbabwe,Benoni,22 Oct 2010
19,England,399/9,50.0,7.98,1,won,v South Africa,Bloemfontein,3 Feb 2016
20,Sri Lanka,398/5,50.0,7.96,1,won,v Kenya,Kandy,6 Mar 1996
21,New Zealand,398/5,50.0,7.96,1,won,v England,The Oval,12 Jun 2015
22,New Zealand,397/5,44.0,9.02,1,won,v Zimbabwe,Bulawayo,24 Aug 2005
23,New Zealand,393/6,50.0,7.86,1,won,v West Indies,Wellington,21 Mar 2015
24,South Africa,392/6,50.0,7.84,1,won,v Pakistan,Centurion,4 Feb 2007
25,India,392/4,50.0,7.84,1,won,v New Zealand,Christchurch,8 Mar 2009
26,India,392/4,50.0,7.84,1,won,v Sri Lanka,Mohali,13 Dec 2017
27,England,391/4,50.0,7.82,1,won,v Bangladesh,Nottingham,21 Jun 2005
28,India,387/5,50.0,7.74,1,won,v England,Rajkot,14 Nov 2008
29,Pakistan,385/7,50.0,7.70,1,won,v Bangladesh,Dambulla,21 Jun 2010
...,...,...,...,...,...,...,...,...,...
7704,Australia,64/1,21.0,3.04,2,won,v India,Sydney,8 Jan 1981
7705,New Zealand,64,35.5,1.78,1,lost,v Pakistan,Sharjah,15 Apr 1986
7706,India,63,25.5,2.43,1,lost,v Australia,Sydney,8 Jan 1981
7707,Afghanistan,63,18.3,3.40,2,lost,v Scotland,Abu Dhabi,14 Jan 2015
7708,Bangladesh,62/2,20.0,3.10,2,won,v West Indies,Chittagong,18 Oct 2011
7709,West Indies,61,22.0,2.77,1,lost,v Bangladesh,Chittagong,18 Oct 2011
7710,West Indies,59/1,12.2,4.78,2,won,v Bangladesh,Dhaka,4 Mar 2011
7711,Bangladesh,58,18.5,3.07,1,lost,v West Indies,Dhaka,4 Mar 2011
7712,Bangladesh,58,17.4,3.28,2,lost,v India,Dhaka,17 Jun 2014
7713,Afghanistan,58,16.1,3.58,2,lost,v Zimbabwe,Sharjah,2 Jan 2016
7714,West Indies,55/4,17.0,3.23,2,won,v New Zealand,Port of Spain,27 Mar 1985
7715,Sri Lanka,55,28.3,1.92,2,lost,v West Indies,Sharjah,3 Dec 1986
7716,India,54,26.3,2.03,2,lost,v Sri Lanka,Sharjah,29 Oct 2000
7717,West Indies,54,23.2,2.31,2,lost,v South Africa,Cape Town,25 Jan 2004
7718,Zimbabwe,54,13.5,3.90,2,lost,v Afghanistan,Harare,26 Feb 2017
7719,New Zealand,51/3,22.0,2.31,1,lost,v West Indies,Port of Spain,27 Mar 1985
7720,Bangladesh,49/4,11.5,4.14,2,won,v Zimbabwe,Chittagong,3 Nov 2009
7721,England,46/2,13.5,3.32,2,won,v Canada,Manchester,13 Jun 1979
7722,Canada,45,40.3,1.11,1,lost,v England,Manchester,13 Jun 1979
7723,West Indies,45/3,12.3,3.60,2,won,v Pakistan,Cape Town,25 Feb 1993
7724,Namibia,45,14.0,3.21,2,lost,v Australia,Potchefstroom,27 Feb 2003
7725,Zimbabwe,44,24.5,1.77,1,lost,v Bangladesh,Chittagong,3 Nov 2009
7726,Pakistan,43,19.5,2.16,1,lost,v West Indies,Cape Town,25 Feb 1993
7727,Sri Lanka,43,20.1,2.13,2,lost,v South Africa,Paarl,11 Jan 2012
7728,Sri Lanka,40/1,4.2,9.23,2,won,v Zimbabwe,Colombo (SSC),8 Dec 2001
7729,Sri Lanka,40/1,9.2,4.28,2,won,v Zimbabwe,Harare,25 Apr 2004
7730,Zimbabwe,38,15.4,2.42,1,lost,v Sri Lanka,Colombo (SSC),8 Dec 2001
7731,Sri Lanka,37/1,4.4,7.92,2,won,v Canada,Paarl,19 Feb 2003
7732,Canada,36,18.4,1.92,1,lost,v Sri Lanka,Paarl,19 Feb 2003
7733,Zimbabwe,35,18.0,1.94,1,lost,v Sri Lanka,Harare,25 Apr 2004